<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post" enctype="multipart/form-data">
        Name : <input type="text" name="name" required><br><br>
        Email : <input type="email" name="email" required><br><br>
        Password : <input type="password" name="password" required><br><br>
        DOB : <input type="date" name="dob" required><br><br>
        City : <input type="text" name="city" required><br><br>
        Profile Picture : <input type="file" name="image" required multiple><br><br>
        Select Degrees : 
        <select name="degrees">
           <% degrees.forEach(d=>{ %>
                <option value="<%=d.name%>"><%=d.name%></option>
           <% }) %>
        </select>
       <!-- <% degrees.forEach(d=>{ %>
            <input type="checkbox" name="degrees" value="<%=d.name%>"> <%=d.name%><br><br>
      <%  }) %> -->
        <button type="submit">Register</button>   
    </form>
</body>
</html>